@model StalkBook.Models.SearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
 
<p class="search-groups">@Html.ActionLink("Search Groups", "SearchGroups", "Search", new { searchString = Model.searchString }, htmlAttributes: new { @class = "btn btn-default" })</p>

<div class="search-profiles">
    @foreach (var item in Model.searchResult)
    {
        <div data-id="@item.userID" class="search-body content">
            <p class="search-fullName">@Html.ActionLink(item.name, "GetProfile", "Profile", new { Id = item.userID }, null)</p>
            @if (Model.userId != item.userID)
            {
                if (Model.stalking.Contains(item.userID))
                {
                    <button class="btn btn-primary btn-sm stalk-button search-button">Stalking</button>
                }
                else
                {
                    <button class="btn btn-default btn-sm stalk-button search-button">Stalk</button>
                }
            }   
        </div>
    }
</div>
