@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Ooops...</h1>
<h2 class="text-danger">Something non-cool has happened while processing your request.</h2>
<img src="http://i0.kym-cdn.com/photos/images/facebook/000/284/529/e65.gif" alt="Error Image" />

