body 
{
    background-color: #BBEAED
}

.newsfeed-box
{
    width: 280px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

button[type=submit]
{
    float:right;
}

.search
{
    position: fixed;
    left: 43%;
    top: 2%;
}

.search-button 
{
  position: fixed;
  left: 54%;
  top: 2%;
}

.navbar
{
    background-color: rgb(51, 204, 204);
    padding-bottom: 50px;
    border-bottom: none;  
}

.navbar-inverse .navbar-nav > li > a 
{
    color: rgb(255, 255, 255);
}

.content
{
    background-color: white;
    width: 380px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-color: black;
    border-width: thin;
    padding-left: 10px;
    padding-top: 5px;
}

.status-body
{
    padding-bottom: 6px;
    padding-top: 6px;
}

.search-body
{
    padding-bottom: 10px;
    padding-top: 10px;
}

.search-fullName
{
    display:inline;
}

.stalk-button
{
    float: right;
    position: relative;
    top: -5px;
    right: 8px;
}

