body 
{
    background-color: #BBEAED
}

.newsfeed-box
{
    width: 280px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

button[type=submit]
{
    float:right;
}

.search-box
{
    position: fixed;
    width: 240px;
    height: 26px;
    left: 40%;
    top: 2%;
}

.navbar
{
    background-color: rgb(51, 204, 204);
    border-bottom: none;  
}

.navbar-inverse .navbar-nav > li > a 
{
    color: rgb(255, 255, 255);
}

.content
{
    background-color: white;
    width: 380px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-color: black;
    border-width: thin;
    padding: 1px 35px 15px 35px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.status-body
{
    padding-bottom: 6px;
    padding-top: 6px;
}

.search-body
{
    padding-bottom: 10px;
    padding-top: 10px;
}

.search-fullName
{
    display:inline;
}

.stalk-button
{
    float: right;
    position: relative;
    top: -5px;
    right: 8px;
}

.status-picture
{
    width: 300px;
    height: auto;
}

.upvoted
{
  background-image: url("http://www.redditstatic.com/sprite-reddit.EMWQffWtZwo.png");
  background-position: -83px -818px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 15px;
  width: 17px;
  position: relative;
  right: 25px;
  top: 2px;
  font-size: 0;
}

.downvoted 
{
  background-image: url("http://www.redditstatic.com/sprite-reddit.EMWQffWtZwo.png");
  background-position: -41px -818px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 15px;
  width: 17px;
  position: relative;
  right: 45px;
  top: 47px;
}

.neutral-up
{
  background-image: url("http://www.redditstatic.com/sprite-reddit.EMWQffWtZwo.png");
  background-position: -62px -818px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 15px;
  width: 17px;
  position: relative;
  right: 25px;
  top: 2px;
  font-size: 0;
}

.neutral-down
{
  background-image: url("http://www.redditstatic.com/sprite-reddit.EMWQffWtZwo.png");
  background-position: -20px -818px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 15px;
  width: 17px;
  position: relative;
  right: 45px;
  top: 47px;
}

.status-rating
{
  display: inline;
  position: relative;
  right: 61px;
  top: 29px;
}