body 
{
    background-color: #BBEAED
}

input[type=search]
{
    position: relative;
    left:230px;
    top:15px;
}

.newsfeed-box
{
    width: 280px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

button[type=submit]
{
    float:right;
}

.navbar
{
    background-color: rgb(51, 204, 204);
    padding-bottom: 50px;
    border-bottom: none;  
}

.navbar-inverse .navbar-nav > li > a 
{
    color: rgb(255, 255, 255);
}

.status-body
{
    background-color: white;
    width: 380px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-color: black;
    border-width: thin;

}

.status-fullName
{
    font-weight:bolder;
}


