@model StalkBook.Models.Status

@{
    ViewBag.Title = "Index";
}

<h2>NewsFeed Index</h2>

<div class="newsfeed-box">
    <div class="newsfeed-content">
        <form>
            <textarea name="status-content" cols="50" rows="5" placeholder="What's happening?" class="status-content" maxlength="250"></textarea>
            <input type="button" value="Add Photo" id="addPhoto">
            <input type="submit" value="Post">
        </form>
    </div>
</div>

