@model StalkBook.Models.GroupViewModel

@{
    ViewBag.Title = "Join group";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddUser", "Group", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Join Groups form</h4>
    <hr/>
    foreach (var item in Model.groups)
    {
        <span class="col-md-10">
        <p>@item.name</p>
    </span>
    }   
}