@model StalkBook.Models.ProfileViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Profile Index</h2>

<div>
    <p>@Model.name</p>
    <p>Created: @Model.creationDate.Day/@Model.creationDate.Month/@Model.creationDate.Year </p>  
      
</div>

@foreach (var item in Model.userStatuses)
{
    <p>@item.body</p>
}
